opencv-python==4.10.0.84
numpy==2.5.2
insightface==1.0.1
pyvirtualcam==0.15.0
onnx==1.22.0
onnxruntime==1.29.0
requests==2.32.5
scipy==1.18.1
scikit-image==0.26.0
protobuf==7.36.0
tqdm==4.70.0
PyQt5==5.15.10
psutil==5.9.8
